<launch>

    <rosparam command="load" file="$(find quadcopter_controller)/config/obstacles.yaml"/>

    <node pkg="quadcopter_controller" type="simulation_setup.py" name="simulation_setup" output="screen"/>

    <node pkg="quadcopter_controller" type="controller" name="controller" output="screen"/>


</launch>